#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

p {
  text-align: left;
  font-size: 2rem;
}

.signOff-container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1rem;
  width: 600px;
  min-height: 300px;
}

.form-container {
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1rem;
  width: 600px;
  min-height: 300px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
}

button:hover {
  color: lightgray;
}

.form-fields {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  padding: 10px;
}

textarea {
  resize: none;
}

.buttons-container {
  width: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ui-btn {
  padding: 0.5rem;
  width: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.copy-btn {
  position: absolute;
  font-size: 2rem;
  bottom: 1rem;
  right: 1rem;
}

.copy-message {
  position: absolute;
  bottom: 0.8rem;
  right: 4rem;
  font-size: 1rem;
}
