:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  max-width: 650px;
  height: 100vh;
}

body {
  margin: 0;
  place-items: center;
  padding: 1rem;
}

.content-wrapper {
  border: 3px solid black;
  padding: 1rem;
  background-color: #c8fff6;
  height: 70vh;
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 2rem;
  border: 3px solid black;
  padding: 0.5rem;
  flex: 5;
  margin-left: 0.5rem;
  text-align: left;
  background-color: whitesmoke;
}

header {
  text-align: center;
  flex: 0 1 auto;
}

main {
  display: flex;
  flex-direction: column;
  height: 75%;
  flex: 1 1 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem;
  border: 3px solid black;
}

.admin-list-item {
  font-size: 1.2rem;
}

.top-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

.to-button {
  font-size: 1.25rem;
  border: 3px solid black;
  padding: 0.5rem;
  flex: 1;
  background-color: whitesmoke;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.signOff-container {
  position: relative;
  border: 3px solid black;
  padding: 1rem;
  background-color: whitesmoke;
  flex: 1 1 auto;
}

.signOff-container p {
  font-family: "Courier New", Courier, monospace;
  text-align: left;
  font-size: 1.6rem;
  margin-top: 0;
}

.signOff-card {
  width: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: whitesmoke;
  font-size: 1.3rem;
  border: none;
  color: black;
}

.form-fields {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 10px;
}

textarea:focus,
input:focus {
  outline: none;
  border: 3px solid black;
}

textarea {
  resize: none;
}

.buttons-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  flex: 0 1 auto;
}

.ui-btn {
  padding: 0.5rem;
  width: 11rem;
  border: 3px solid black;
  color: black;
}

.ui-btn:hover {
  background-color: #ffc8d1;
}

.ui-btn:focus {
  outline: none;
}

.copy-btn {
  position: absolute;
  font-size: 2rem;
  bottom: 1rem;
  right: 1rem;
  color: black;
}

#copy-message {
  position: absolute;
  bottom: 0.8rem;
  right: 4rem;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.25rem;
  }

  .signOff-container p {
    font-size: 1.25rem;
  }

  .form-fields {
    font-size: 1.25rem;
  }

  .ui-btn:hover {
    background-color: whitesmoke;
  }
}
