:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

body {
  margin: 0;
  place-items: center;
  padding: 1rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.admin-list-item {
  font-size: 1.2rem;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  place-items: center;
}

.signOff-container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 1rem;
  min-width: 95%;
  min-height: 300px;
}

.signOff-container p {
  text-align: left;
  font-size: 1.8rem;
}

.signOff-card {
  width: auto;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
}

button:hover {
  color: lightgray;
}

.form-fields {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 10px;
}

textarea {
  resize: none;
}

.buttons-container {
  min-width: 95%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ui-btn {
  padding: 0.5rem;
  width: 11rem;
  border: 1px solid rgba(255, 255, 255, 0.87);
}

.copy-btn {
  position: absolute;
  font-size: 2rem;
  bottom: 1rem;
  right: 1rem;
}

#copy-message {
  position: absolute;
  bottom: 0.8rem;
  right: 4rem;
  font-size: 1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
